apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "cnpj-batch.fullname" . }}
  labels:
    {{- include "cnpj-batch.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: {{ .Chart.Name }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              resources:
                requests:
                  cpu: "500m"
                  memory: "128Mi"
                limits:
                  cpu: "2000m"
                  memory: "512Mi"
              imagePullPolicy: IfNotPresent
              volumeMounts:
                - name: cnpj-batch-cnpj-volume
                  mountPath: /data
              env:
                - name: JAVA_OPTS
                  value: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=85"
                - name: CNPJ_BATCH_LOG_PROPERTIES
                  value: "false"
                - name: CNPJ_BATCH_FORCE_REIMPORT
                  value: "false"
                - name: CNPJ_BATCH_CSV_CITY_CODES
                  value: "6001,7107"
                - name: CNPJ_BATCH_CSV_STATE_CODES
                  value: "RJ,SP"
                - name: CNPJ_BATCH_DATASOURCE_URL
                  value: jdbc:postgresql://{{ .Values.database.host }}:{{ .Values.database.port }}/{{ .Values.database.name }}?{{ .Values.database.properties }}
                - name: CNPJ_BATCH_DATASOURCE_USERNAME
                  valueFrom:
                    secretKeyRef:
                      name: cnpj-batch-secret
                      key: CNPJ_BATCH_DATASOURCE_USERNAME
                - name: CNPJ_BATCH_DATASOURCE_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: cnpj-batch-secret
                      key: CNPJ_BATCH_DATASOURCE_PASSWORD
                - name: CNPJ_BATCH_DATASOURCE_SCHEMA
                  value: "cnpj"
                - name: CNPJ_BATCH_DATASOURCE_CONN_TIMEOUT
                  value: "20000"
                - name: CNPJ_BATCH_DATASOURCE_MAX_PULL_SIZE
                  value: "5"
                - name: CNPJ_BATCH_CHUNK_SIZE
                  value: "10000"
                - name: CNPJ_BATCH_CSV_LOCATION
                  value: /data/import
                - name: CNPJ_BATCH_FLYWAY_USERNAME
                  valueFrom:
                    secretKeyRef:
                      name: cnpj-batch-secret
                      key: CNPJ_BATCH_FLYWAY_USERNAME
                - name: CNPJ_BATCH_FLYWAY_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: cnpj-batch-secret
                      key: CNPJ_BATCH_FLYWAY_PASSWORD
          restartPolicy: OnFailure
          volumes:
            - name: cnpj-batch-cnpj-volume
              persistentVolumeClaim:
                claimName: cnpj-batch-cnpj-pvc
